*.class
*.log
*.DS_Store

src/main/scala/lod2014group1/I.scala
src/main/resources/application.conf
# sbt specific
.gradle/
.lib/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
alodofmovies.iml

build/
data/
data
/bin

*.api-key
*.db
