<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<!--<pattern>%d{HH:mm:ss.SSS} %logger{36} [%thread] %-5level - %msg%n</pattern>-->
            <pattern>[%-5level] %logger{36} - %d{HH:mm} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="FreebaseFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>freebaselogFile.log</file>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	      <!-- daily rollover -->
	      <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
	
	      <!-- keep 30 days' worth of history -->
	      <maxHistory>30</maxHistory>
	    </rollingPolicy>
	
	    <encoder>
	      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
	    </encoder>
   </appender> 
	<logger level="INFO" name="FreebaseFileLogger">
		<appender-ref ref="FreebaseFILE" />
	</logger>
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
